SCRY_MAX_DEPTH=5
SCRY_MAX_PAGES=500
SCRY_CONCURRENCY=10
SCRY_REQUEST_TIMEOUT=10s
SCRY_RATE_LIMIT=50
SCRY_USER_AGENT=scry/1.0
SCRY_RESPECT_ROBOTS=true
SCRY_OUTPUT=terminal
SCRY_OUTPUT_FILE=
SCRY_FAIL_ON=
SCRY_BROWSER_MODE=false
SCRY_BROWSERLESS_URL=http://localhost:3000
SCRY_LIGHTHOUSE=false
SCRY_LIGHTHOUSE_MODE=psi
SCRY_PSI_API_KEY=
SCRY_PSI_STRATEGY=mobile
SCRY_LOG_LEVEL=info
SCRY_LOG_FORMAT=pretty
